body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  background: #444;
  color: #fff;
  padding: 8px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  color: #fff;
  margin-left: 10px;
  text-decoration: none;
}

header span:last-child {
  cursor: pointer;
  margin-left: 10px;
}

main {
  padding: 25px;
}
